@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  src: url('Roboto/Roboto-Black-webfont.woff') format('woff'), local('Roboto');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: italic;
  src: url('Roboto/Roboto-BlackItalic-webfont.woff') format('woff'), local('Roboto');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('Roboto/Roboto-Bold-webfont.woff') format('woff'), local('Roboto');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: italic;
  src: url('Roboto/Roboto-BoldItalic-webfont.woff') format('woff'), local('Roboto');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  src: url('Roboto/Roboto-Italic-webfont.woff') format('woff'), local('Roboto');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('Roboto/Roboto-Light-webfont.woff') format('woff'), local('Roboto');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
  src: url('Roboto/Roboto-LightItalic-webfont.woff') format('woff'), local('Roboto');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('Roboto/Roboto-Regular-webfont.woff') format('woff'), local('Roboto');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('Roboto/Roboto-Medium-webfont.woff') format('woff'), local('Roboto');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: italic;
  src: url('Roboto/Roboto-MediumItalic-webfont.woff') format('woff'), local('Roboto');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url('Roboto/Roboto-Thin-webfont.woff') format('woff'), local('Roboto');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: italic;
  src: url('Roboto/Roboto-ThinItalic-webfont.woff') format('woff'), local('Roboto');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: normal;
  src: url('Roboto/RobotoCondensed-Bold-webfont.woff') format('woff'), local('Roboto');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: italic;
  src: url('Roboto/RobotoCondensed-BoldItalic-webfont.woff') format('woff'), local('Roboto');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-style: italic;
  src: url('Roboto/RobotoCondensed-Italic-webfont.woff') format('woff'), local('Roboto');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-style: normal;
  src: url('Roboto/RobotoCondensed-Light-webfont.woff') format('woff'), local('Roboto');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-style: italic;
  src: url('Roboto/RobotoCondensed-LightItalic-webfont.woff') format('woff'), local('Roboto');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-style: normal;
  src: url('Roboto/RobotoCondensed-Regular-webfont.woff') format('woff'), local('Roboto');
}
